@tailwind base;
@tailwind components;
@tailwind utilities;
::selection {
    color: var(--background-color);
    background: var(--text-color);
  }



.lightmode{
    --text-color:black;
    --background-color:white;
    --card-bg:#e2e2e8;
    --image:
}
.darkmode{
    --text-color:white;
    --background-color:black;
    --card-bg:#2d2d31;
}

.lightmode .app .header .weblogo{
    width:150px;
    height:35px;
    background-image: url("../images/weblogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 0px;
}

.darkmode .app .header .weblogo{
    width:150px;
    height:35px;
    background-image: url("../images/weblogodark.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 0px;
}
*{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}
 
.container{
    padding-top: 50px;
    background-color: var(--background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    margin: 0px;
    height: 50px;
    align-items: end;
    position: fixed;
    width: 100vw;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: end;
    padding-top: 20px;
    padding-bottom: 10px;
}
.homepage{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
.homeimage{
    width:95%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}
.descriptiontab{
    position: absolute;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--background-color);
    left:150px;
    bottom: 10px;
    box-shadow: 5px 5px rgba(90, 89, 89, 0.557);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;

}
.nature{
    background-color: #3c00ff;
    color: white;
    padding:2px 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    user-select: none;
}

.author{
    display: flex;
    gap:20px;
    align-items: center;
    background-color: inherit;
    user-select: none;
}
.authorimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('../images/photo.jpg');
    background-size: cover;
}
h6{
    color: rgb(118, 118, 114);
    background-color: inherit;
}

.card{
    width: 372px;
    height: 440px;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    padding: 20px;
    gap: 10px;
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);

    border-radius: 12px;
}

.cardimage{
    width: 340px;
    height: 240px;
    border-radius: 6px;
}
h1{
    user-select: none;
    background-color: inherit;
}
.blogsec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}
.search{
    width: 190px;
    display: flex;
    gap: 20px;

}

.srch{
    width: 150px;
    padding: 2px 15px;
    outline:none;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    
}
i{
    font-size: 1.3rem;
}
.search:checked{
    border: 1px solid var(--text-color);

}
.themechangebtn:hover{
    animation: rotate 3s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}
.themechangebtn:active{
    animation: rotate 1s  cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
img{
    border-radius: 12px;
}
.content-article{
    padding-top: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p{
    text-align: justify;
}
a{
    user-select: none;
}
::placeholder{
    user-select: none;
}
.contactmainform{
    width: 100%;
    height: 100%;
}
.contactinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 450px;
    border: 1px solid black;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: var(--text-color);
    border-radius: 10px;
    color: var(--background-color);
}
table{
    width: 50%;
    height: 450px;
    border: 1px solid black;
    margin-left: 40px;
}
.links a, .links i{
    background-color: inherit;
    color: var(--background-color);
}

.phone a, .phone i{
    background-color: inherit;
    color: var(--background-color);
}